<head>
<style>

.tiny{
  width: 200px;
}

.blueRating{
  background-color:#065fd4;
}

.greyRating{
  background-color:#cccccc;
}

.since {
  float:right;
} 

.hint_B{
  background-color:white;
  border-radius: 25px;
  text-align: center;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

</style>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">CTF_Site_Name</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features...</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/findChallenges/all/all">Challanges... (e mostra os desafios)<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/findAllUsers">User... (e mostra os users todos)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"  action="/findUser/" method="POST">
      <input class="form-control mr-sm-2" id="username" name="username" type="text" placeholder="Search User">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search User</button>
    </form>
  </div>
</nav>


<h1>Challange Info</h1>

<blockquote class="blockquote">
  <p class="mb-0">Procurar por:</p>
</blockquote>
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-info">Categoria</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
    
      <a class="dropdown-item" href="/findChallenges/Categoria/Cryptography">Cryptography</a>
      <a class="dropdown-item" href="/findChallenges/Categoria/Steganography">Steganography</a>
      <a class="dropdown-item" href="/findChallenges/Categoria/Binary Analysis">Binary Analysis</a>
      <a class="dropdown-item" href="/findChallenges/Categoria/Reverse Engineering">Reverse Engineering</a>
      <a class="dropdown-item" href="/findChallenges/Categoria/Web Exploitation">Web Exploitation</a>
      <a class="dropdown-item" href="/findChallenges/Categoria/Forensics">Forensics</a>
      <a class="dropdown-item" href="/findChallenges/Categoria/Network">Network</a>
      <a class="dropdown-item" href="/findChallenges/Categoria/Malware Analysis">Malware Analysis</a>
      <a class="dropdown-item" href="/findChallenges/Categoria/Misc">Misc</a>
    </div>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-info">Dificuldade</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
      <a class="dropdown-item" href="/findChallenges/Dificuldade/1">Level #1</a>
      <a class="dropdown-item" href="/findChallenges/Dificuldade/2">Level #2</a>
      <a class="dropdown-item" href="/findChallenges/Dificuldade/3">Level #3</a>
      <a class="dropdown-item" href="/findChallenges/Dificuldade/4">Level #4</a>
      <a class="dropdown-item" href="/findChallenges/Dificuldade/5">Level #5</a>
    </div>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-info">Pontos</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
      <a class="dropdown-item" href="/findChallenges/Pontos/Alta">Pontuação alta</a>
      <a class="dropdown-item" href="/findChallenges/Pontos/Baixa">Pontuação baixa</a>
    </div>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-info">Número de Resoluções</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
      <a class="dropdown-item" href="/findChallenges/usersQueResolveram/Alta">Alta taxa de resolução</a>
      <a class="dropdown-item" href="/findChallenges/usersQueResolveram/Baixa">Baixa taxa de resolução</a>
    </div>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-info">Data de Criação</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
      <a class="dropdown-item" href="/findChallenges/Data/Antigo">Mais antigo</a>
      <a class="dropdown-item" href="/findChallenges/Data/Recente">Mais recente</a>
    </div>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-info">Rating</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
      <a class="dropdown-item" href="/findChallenges/Rating/Alto">Rating Alto</a>
      <a class="dropdown-item" href="/findChallenges/Rating/Baixo">Rating Baixo</a>
    </div>
  </div>
</div>

<h1>tenho que por rating para dar  like e dislike... depois também ponho nas cena de procuarar nas categorias por isso</h1>

<% if ( tabela.length == 0 ){ %>
  <h2>O challange não foi encontrado</h2>
<% } else { %>
  <% for ( var i = 0;  i < tabela.length; i++) { %>

  <div class="jumbotron">
  <h1 class="display-6" style="display: inline" ><strong>ID do desafio:</strong> <%= tabela[i].IDdesafio %></h1> 

  <% var options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
  <h5 class="since">criado em: <%= tabela[i].dataCriacao.toLocaleString('pt-BR',options) %> </h5> <br>

  <font size="6"><span class="badge badge-pill badge-info">Pontos: <%= tabela[i].Pontos %></span></font>
    <h2>Rating: <%= tabela[i].ratingScore %></h2>
    <% var blueRating = 60; %>
    <% var greyRating = 100 - blueRating; %>
    <%  %>
  <div class="progress tiny">
    <div class="progress-bar blueRating" role="progressbar" style="width: <%= blueRating %>%" aria-valuenow="<%= blueRating %>" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar greyRating" role="progressbar" style="width: <%= greyRating %>%" aria-valuenow="<%= greyRating %>" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
por aqui para ver como fica a cena de rating 
ponho barra? e faço as contas
azul e cinzento mais numeros por cima
  <h4>Solvs: <%= tabela[i].usersQueResolveram_size %></h4>
  <hr class="my-4">
  <p><%= tabela[i].IDdesafio %></p>
  <p>Categoria: <%= tabela[i].Categoria %></p>
  <p>Dificuldade: <%= tabela[i].Dificuldade %></p>  
  <p>Recursos: <%= tabela[i].Recursos %></p>  
  <p>Titulo: <%= tabela[i].DesafioTitulo %></p>
  <p>Descrição: <%= tabela[i].DesafioDescricao %></p>  
  <p>username do autor: <%= tabela[i].AutorUsername %></p>  
  <p>mongoo _id do autor: <%= tabela[i].Autor %></p>  
  <p><%= tabela[i].hint %></p>  
  <button class="btn btn-info" onclick="myFunction<%= i %>()">Hint</button>
  <% var demoNum = String("demo"+i) ; %>
  <div class="hint_B"><p id= "<%= demoNum %>" ></p></div>
  <script>
  function myFunction<%= i %>() {
    document.getElementById("<%= demoNum %>").innerHTML = "<%= tabela[i].hint %>";
  }
  </script>
  <p>Flag que não vou mostrar: <%= tabela[i].Flag %></p>
  <p><%= tabela[i].Pontos %></p>
  
  <form action="/findUser/" method="post">
    <button type="submit" name="username" value="<%= tabela[i].Autor %>" class="btn-link">Made by: <%= tabela[i].AutorUsername %></button>
  </form>

  <% if( tabela[i].usersQueResolveram_size != 0){ %>
  <h1>ponho para ver os users que resolveram num link à parte ou apresento aqui ??</h1>
  <h2>ou ponho antes assim ? "TOP 5 users que resolveram"</h2>
  <h3>link para ver lista completa</h3>
  <h1>tambem tenho que trocar o id da tabela por nomes ... </h1>
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Place:</th>
        <th scope="col">User ID</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
  <% } %>
    
  <% for( var ii = 0; ii < tabela[i].usersQueResolveram_size; ii++){ %>
    <tr class="table-light">
      <th scope="row">#<%= ii +1 %></th>
      <td><%= tabela[i].usersQueResolveram[ii].userID %></td>
      <td><%= tabela[i].usersQueResolveram[ii].data %></td>
    </tr>
  <% } %>
  </tbody>
</table> 

</div>
  
  <% } %>

<% } %>
usar isto para poder fazer a implementação
https://github.com/edwardhotchkiss/mongoose-paginate
<div>
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#">&laquo;</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">5</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">&raquo;</a>
    </li>
  </ul>
</div>
