<head>
<style>


.since {
  float:right;
} 
</style>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">CTF_Site_Name</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features...</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/findChallenges/all/all">Challanges... (e mostra os desafios)<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/findAllUsers">User... (e mostra os users todos)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"  action="/findUser/" method="POST">
      <input class="form-control mr-sm-2" id="username" name="username" type="text" placeholder="Search User">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search User</button>
    </form>
  </div>
</nav>


<h1>Challange Info</h1>

<h1>tenho que por a dar para ver os desafios por categoria e dificuldade e numero de resoluções corretas...</h1>
<blockquote class="blockquote">
  <p class="mb-0">Procurar por:</p>
</blockquote>
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-info">Categoria</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
      <a class="dropdown-item" href="/findChallenges/Categoria/Forense">Forense</a>
      <a class="dropdown-item" href="/findChallenges/Categoria/Exploit">Exploit</a>
    </div>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-info">Dificuldade</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
      <a class="dropdown-item" href="#">Level #1</a>
      <a class="dropdown-item" href="#">Level #2</a>
      <a class="dropdown-item" href="#">Level #3</a>
      <a class="dropdown-item" href="#">Level #4</a>
      <a class="dropdown-item" href="#">Level #5</a>
    </div>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-info">Pontos (mas vai estar ligado à dificuladade.. este se calhar tiro...)</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
      <a class="dropdown-item" href="#">Pontuação alta</a>
      <a class="dropdown-item" href="#">Pontuação baixa</a>
    </div>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-info">Número de Resoluções</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
      <a class="dropdown-item" href="#">Alta taxa de resolução</a>
      <a class="dropdown-item" href="#">Baixa taxa de resolução</a>
    </div>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-info">Data de Criação</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
      <a class="dropdown-item" href="#">Mais antigo</a>
      <a class="dropdown-item" href="#">Mais recente</a>
    </div>
  </div>
</div>

<% if ( tabela.length == 0 ){ %>
  <h2>O challange não foi encontrado</h2>
<% } else { %>
  <% for ( var i = 0;  i < tabela.length; i++) { %>

  <div class="jumbotron">
  <h1 class="display-6" style="display: inline" ><strong>ID do desafio:</strong> <%= tabela[i].IDdesafio %></h1> 

  <% var options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
  <h5 class="since">criado em: <%= tabela[i].dataCriacao.toLocaleString('pt-BR',options) %> </h5> <br>

  <font size="6"><span class="badge badge-pill badge-info">Pontos: <%= tabela[i].Pontos %></span></font>
  <hr class="my-4">
  <p><%= tabela[i].IDdesafio %></p>
  <p><%= tabela[i].Categoria %></p>
  <p><%= tabela[i].DesafioTitulo %></p>
  <p><%= tabela[i].DesafioDescricao %></p>  
  <p><%= tabela[i].Dificuldade %></p>  
  <p><%= tabela[i].Flag %></p>
  <p><%= tabela[i].Pontos %></p>
  <p><%= tabela[i].usersQueResolveram %></p>
  <p><%= tabela[i].usersQueResolveram.length %></p>
  <% for( var ii = 0; ii < tabela[i].usersQueResolveram.length; ii++){ %>
    <p><%= tabela[i].usersQueResolveram.perguntaID %></p>
    <p><%= tabela[i].usersQueResolveram.data%></p>
  <% } %>
  
</div>
  
  <% } %>

<% } %>
usar isto para poder fazer a implementação
https://github.com/edwardhotchkiss/mongoose-paginate
<div>
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#">&laquo;</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">5</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">&raquo;</a>
    </li>
  </ul>
</div>
