  <head>
<style>

.tiny{
  width: 200px;
}

.blueRating{
  background-color:#065fd4;
}

.greyRating{
  background-color:#cccccc;
}

.since {
  float:right;
} 

.hint_B{
  background-color:white;
  border-radius: 25px;
  text-align: center;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

</style>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">CTF_BreakPoint</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/how2play">How to play</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/findChallenges/all/all">Challenges<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/findAllUsers">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/About">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"  action="/findUser/" method="POST">
      <input class="form-control mr-sm-2" id="username" name="username" type="text" placeholder="Search User">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search User</button>
    </form>
  </div>
</nav>

<blockquote class="blockquote">
</blockquote>
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-info">Category</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
    
      <a class="dropdown-item" href="/findChallenges/Categoria/Cryptography">Cryptography</a>
      <a class="dropdown-item" href="/findChallenges/Categoria/Steganography">Steganography</a>
      <a class="dropdown-item" href="/findChallenges/Categoria/Reverse Engineering">Reverse Engineering</a>
      <a class="dropdown-item" href="/findChallenges/Categoria/Web Exploitation">Web Exploitation</a>
      <a class="dropdown-item" href="/findChallenges/Categoria/Forensics">Forensics</a>
      <a class="dropdown-item" href="/findChallenges/Categoria/Misc">Misc</a>
    </div>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-info">Difficulty</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
      <a class="dropdown-item" href="/findChallenges/Dificuldade/1">Level #1</a>
      <a class="dropdown-item" href="/findChallenges/Dificuldade/2">Level #2</a>
      <a class="dropdown-item" href="/findChallenges/Dificuldade/3">Level #3</a>
      <a class="dropdown-item" href="/findChallenges/Dificuldade/4">Level #4</a>
      <a class="dropdown-item" href="/findChallenges/Dificuldade/5">Level #5</a>
    </div>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-info">Score</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
      <a class="dropdown-item" href="/findChallenges/Pontos/Alta">High score</a>
      <a class="dropdown-item" href="/findChallenges/Pontos/Baixa">Low score</a>
    </div>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-info">Resolution rate</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
      <a class="dropdown-item" href="/findChallenges/usersQueResolveram/Alta">High resolution rate</a>
      <a class="dropdown-item" href="/findChallenges/usersQueResolveram/Baixa">Low resolution rate</a>
    </div>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-info">Creation date</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
      <a class="dropdown-item" href="/findChallenges/Data/Antigo">Sort by old</a>
      <a class="dropdown-item" href="/findChallenges/Data/Recente">Sort by new</a>
    </div>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-info">Rating</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
      <a class="dropdown-item" href="/findChallenges/Rating/Alto">High rating</a>
      <a class="dropdown-item" href="/findChallenges/Rating/Baixo">Low rating</a>
    </div>
  </div>
</div>

<% if ( tabela.length == 0 ){ %>
  <h2>Challenges were not found</h2>
<% } else { %>
  <% for ( var i = 0;  i < tabela.length; i++) { %>
    <div class="jumbotron">
      <h1 class="display-6" style="display: inline" ><strong>Challenge Number:</strong> <%= tabela[i].IDdesafio %></h1> 
      <% var options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
      <h5 class="since">Created in: <%= tabela[i].dataCriacao.toLocaleString('pt-BR',options) %> </h5> <br>
      <font size="6"><span class="badge badge-pill badge-info">Score: <%= tabela[i].Pontos %></span></font>
        <h2>Rating: <%= tabela[i].ratingScore %> %</h2>
        <% var blueRating = tabela[i].ratingScore; %>
        <% var greyRating = 100 - blueRating; %>
        <%  %>
      <div class="progress tiny">
        <div class="progress-bar blueRating" role="progressbar" style="width: <%= blueRating %>%" aria-valuenow="<%= blueRating %>" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar greyRating" role="progressbar" style="width: <%= greyRating %>%" aria-valuenow="<%= greyRating %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <h4>Solvs: <%= tabela[i].usersQueResolveram_size %></h4>
      <hr class="my-4">
      <p>Challenger Number: <%= tabela[i].IDdesafio %></p>
      <p>Category: <%= tabela[i].Categoria %></p>
      <p>Difficulty: <%= tabela[i].Dificuldade %></p>  
      <p>Resources: <%= tabela[i].Recursos %></p>  
      <p>Title: <%= tabela[i].DesafioTitulo %></p>
      <p>Description: <%= tabela[i].DesafioDescricao %></p>
      <button class="btn btn-info" onclick="myFunction<%= i %>()">Show Hint</button>
      <br><br>
      <% var demoNum = String("demo"+i) ; %>
      <div class="hint_B"><p id= "<%= demoNum %>" ></p></div>
      <script>
      function myFunction<%= i %>() {
        document.getElementById("<%= demoNum %>").innerHTML = "<%= tabela[i].hint %>";
      }
      </script>
      
      <form action="/findUser/" method="post">
        <button type="submit" name="username" value="<%= tabela[i].Autor %>" class="btn-link">Made by: <%= tabela[i].AutorUsername %></button>
      </form>
      <% if( tabela[i].usersQueResolveram_size != 0){ %>
      <form action="/listaCompletaUserQueResolveram/" method="post">
        <button type="submit" name="IDdesafio" value="<%= tabela[i].IDdesafio %>" class="btn-link">See full list of users that solved the challenge</button>
      </form>
        <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Place:</th>
            <th scope="col">Username</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
      <% } %>
      
        <% if ( tabela[i].usersQueResolveram_size > 4 ){ %>
          <% var maxUsers = 5 %>
        <% }else{ %>
          <% var maxUsers = tabela[i].usersQueResolveram_size %>
    <% } %>
    <% for( var ii = 0; ii < tabela[i].usersQueResolveram_size; ii++){ %>
    <tr class="table-light">
      <th scope="row">#<%= ii +1 %></th>
      <td>
        <form action="/findUser/" method="post">
          <button type="submit" name="username" value="<%= tabela[i].usersQueResolveram[ii].userID %>" class="btn-link"><%= tabela[i].usersQueResolveram[ii].userID2 %></button>
        </form>
        </td>
      <td><%= tabela[i].usersQueResolveram[ii].data.toLocaleString('pt-BR',options) %></td>
    </tr>
  <% } %>
</tbody>
</table> 
</div>
  
  <% } %>
<% } %>
