<head>
<style>


.since {
  float:right;
} 
</style>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">CTF_Site_Name</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/how2play">How to play</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/findChallenges/all/all">Challanges</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/findAllUsers">User<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"  action="/findUser/" method="POST">
      <input class="form-control mr-sm-2" id="username" name="username" type="text" placeholder="Search User">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search User</button>
    </form>
  </div>
</nav>


<h1>User Info</h1>

<% if ( tabela.length == 0 ){ %>
  <h2>O user não foi encontrado</h2>
<% } else { %>
  <% for ( var i = 0;  i < tabela.length; i++) { %>
  <div class="jumbotron">
  <h1 class="display-6" style="display: inline" ><strong>Username:</strong> <%= tabela[i].username %></h1> 

<% var options = { year: 'numeric', month: 'long', day: 'numeric' }; %>

  <h5 class="since">criado em: <%= tabela[i].dataCriacao.toLocaleString('pt-BR',options) %> </h5> <br>

  <font size="6"><span class="badge badge-pill badge-info">Pontos: <%= tabela[i].pontos %></span></font>


  <p class="lead">não vou mostrar o emai porque fica escondido ...</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Perguntas Resolvidas
    <span class="badge badge-primary badge-pill"><%= tabela[i].perguntasResolvidas.length %></span>
    <a href="/userPerguntasInfo/<%= tabela[i]._id%>/perguntasResolvidas">ver todos</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Perguntas Enviadas &ensp;
    <span class="badge badge-primary badge-pill"><%= tabela[i].perguntasEnviadas.length %></span>
    <a href="/userPerguntasInfo/<%= tabela[i]._id%>/perguntasEnviadas">ver todos</a>
  </li>
</ul>

 tabela[i].perguntasEnviadas.length()
        <td><strong>perguntas Resolvidas:</strong> </td><br>
        <td><strong>perguntas Enviadas:</strong> </td><br>
        <td><strong>dataCriacao:</strong> <%= tabela[i].dataCriacao.toLocaleString() %></td><br>
  
<h2>depois tenho que fazer algo para ver as perguntas e respostas... ou faço um drop down (mas se forem muitas não dá jeito...)... posso encaminhar para outra pagina ?...
 posso por a mostra caixa e dá para fazer scroll ou vai de 5 em 5...</h2>

</div>
  
  <% } %>

<% } %>
